ANTHROPIC_API_KEY=sk-gAAAAABp4INR65P768PAs59gVnMdjTL6jDxhlolZxmG83Y7qO-phHEEiVYZgQUwudlcVhIrfYthxI4Yn8t2VDKUpD-smx9upnJj1WTrRu1ObsNJvn27qNJsNplkFa1vCKqynGf7beUxkcpFY_4hJDsBrrj-f87dtQQ==
PORT=3000
MONGO_URI=mongodb+srv://Abhay:chatBot@cluster0.z3hnu4q.mongodb.net/?appName=Cluster0